.profilePicEdit {
  position: relative;
}
.profilePicEdit button.eXEoGG26iwSi6UiZD8FI6 {
  background-image: url("avatar.png");
  background-size: contain;
  background-position: center;
  transition: filter 0.5s;
}

.profilePicEdit button.eXEoGG26iwSi6UiZD8FI6:hover {
  filter: blur(20px);
}
