:root {
  font-family: sans-serif;
  background-color: black;
}

div#root {
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  width: 100%;
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #00ff00;
  text-align: center;
}
